In [2]:
import pandas as pd
import numpy as np

In [3]:
path = r"..\data\FAOSTAT\production_datasets"
path

'..\\data\\FAOSTAT\\production_datasets'

In [4]:
prod_df = pd.read_csv(f"{path}\\sample_Production_Crops_Livestock_E_All_Data_(Normalized).csv")

In [5]:
prod_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Area Code        1000 non-null   int64
 1   Area Code (M49)  1000 non-null   object
 2   Area             1000 non-null   object
 3   Item Code        1000 non-null   int64
 4   Item Code (CPC)  1000 non-null   object
 5   Item             1000 non-null   object
 6   Element Code     1000 non-null   int64
 7   Element          1000 non-null   object
 8   Year Code        1000 non-null   int64
 9   Year             1000 non-null   int64
 10  Unit             1000 non-null   object
 11  Value            1000 non-null   float64
 12  Flag             1000 non-null   object
 13  Note             20 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 109.5+ KB

In [6]:
prod_df.Flag.value_counts(normalize=True)

Flag
E    0.440
A    0.428
I    0.077
M    0.029
X    0.026
Name: proportion, dtype: float64

In [7]:
prod_df[~prod_df['Note'].isnull()]

,Area Code,Area Code (M49),Area,Item Code,Item Code (CPC),Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
53,102,'364,Iran (Islamic Republic of),236,'0141,Soya beans,5510,Production,1989,1989,t,90000.0,X,Unofficial figure
85,158,'562,Niger,211,'01709.90,Other pulses n.e.c.,5312,Area harvested,1992,1992,ha,33518.0,X,Unofficial figure
104,185,'643,Russian Federation,619,'01359.90,"Other fruits, n.e.c.",5312,Area harvested,2000,2000,ha,32000.0,X,Unofficial figure
141,56,'214,Dominican Republic,1043,'21521,"Pig fat, rendered",5510,Production,1980,1980,t,2842.0,X,Unofficial figure
206,170,'604,Peru,894,'22221.01,"Whole milk, evaporated",5510,Production,1965,1965,t,41000.0,X,Unofficial figure
218,185,'643,Russian Federation,558,'01355.90,Other berries and fruits of the genus vacciniu...,5510,Production,2013,2013,t,3600.0,X,Unofficial figure
221,113,'417,Kyrgyzstan,372,'01214,Lettuce and chicory,5312,Area harvested,2008,2008,ha,150.0,X,Unofficial figure
297,136,'478,Mauritania,83,'0114,Sorghum,5312,Area harvested,1981,1981,ha,121800.0,X,Unofficial figure
347,249,'887,Yemen,919,'02951.01,Raw hides and skins of cattle,5320,Producing Animals/Slaughtered,1970,1970,An,164787.0,X,Unofficial figure
513,234,'858,Uruguay,122,'01530,Sweet potatoes,5312,Area harvested,1982,1982,ha,15000.0,X,Unofficial figure
555,101,'360,Indonesia,156,'01802,Sugar cane,5510,Production,2011,2011,t,24000000.0,X,Unofficial figure
595,154,'807,North Macedonia,995,'02953,Raw hides and skins of sheep or lambs,5320,Producing Animals/Slaughtered,1996,1996,An,508000.0,X,Unofficial figure
630,108,'398,Kazakhstan,407,'01254,Leeks and other alliaceous vegetables,5510,Production,1994,1994,t,1000.0,X,Unofficial figure
730,201,'706,Somalia,165,'23540,Molasses,5510,Production,2010,2010,t,7000.0,X,Unofficial figure
866,203,'724,Spain,331,'2168,Cottonseed oil,5510,Production,2018,2018,t,12400.0,X,Unofficial figure
879,167,'203,Czechia,165,'23540,Molasses,5510,Production,1996,1996,t,205000.0,X,Unofficial figure
925,106,'380,Italy,619,'01359.90,"Other fruits, n.e.c.",5312,Area harvested,1981,1981,ha,16000.0,X,Unofficial figure
939,57,'112,Belarus,515,'01341,Apples,5510,Production,2000,2000,t,213000.0,X,Unofficial figure
960,173,'616,Poland,1043,'21521,"Pig fat, rendered",5510,Production,1983,1983,t,133800.0,X,Unofficial figure
985,158,'562,Niger,162,'2351f,Raw cane or beet sugar (centrifugal only),5510,Production,1969,1969,t,2486.0,X,Unofficial figure

In [8]:
prod_df['Area'].unique()

array(['China, Taiwan Province of', 'Australia and New Zealand',
       'Switzerland', 'Peru', "Democratic People's Republic of Korea",
       'United Arab Emirates', 'Finland', 'Sri Lanka', 'Eswatini',
       'Israel', 'United States of America', 'Eastern Africa',
       'Middle Africa', 'Albania', 'Mexico', 'South America', 'Iraq',
       'Uzbekistan', 'Guatemala', 'Southern Europe',
       'Venezuela (Bolivarian Republic of)', 'Benin', 'India', 'Türkiye',
       'Afghanistan', 'Land Locked Developing Countries', 'Nigeria',
       'Chad', 'Americas', 'Nicaragua', 'Bangladesh', 'World',
       'Western Europe', 'Least Developed Countries', 'Qatar', 'Greece',
       'Norway', 'Tunisia',
       'United Kingdom of Great Britain and Northern Ireland',
       'China, Hong Kong SAR', 'Kenya', 'Ukraine', 'Togo', 'Saudi Arabia',
       "Lao People's Democratic Republic", 'Africa', 'Europe', 'Brazil',
       'Iran (Islamic Republic of)', 'Slovenia', 'Costa Rica', 'Italy',
       'Mauritania', "Côte d'Ivoire", 'Ecuador', 'Jordan', 'Kazakhstan',
       'Low Income Food Deficit Countries', 'Mozambique', 'Yugoslav SFR',
       'Asia', 'Djibouti', 'Lebanon', 'Haiti', 'Serbia', 'Australia',
       'China, mainland', 'Poland', 'Slovakia', 'Madagascar', 'Ireland',
       'Niger', 'Small Island Developing States', 'Egypt', 'Algeria',
       'Netherlands (Kingdom of the)', 'Uganda', 'Saint Kitts and Nevis',
       'Central America', 'Caribbean', 'Colombia', 'Timor-Leste',
       'Eastern Europe', 'Senegal', 'Russian Federation', 'Paraguay',
       'South-eastern Asia', 'Northern Europe', 'Barbados', 'Chile',
       'Northern America', 'Kuwait', 'Congo', 'Eastern Asia', 'Yemen',
       'Spain', 'Cambodia', 'Democratic Republic of the Congo', 'Oman',
       'French Guiana', 'Burundi', 'Suriname', 'Saint Lucia', 'Angola',
       'Myanmar', 'Dominican Republic', 'Sierra Leone', 'Japan', 'Bhutan',
       'Panama', 'China', 'Bolivia (Plurinational State of)', 'Oceania',
       'Cook Islands', 'Portugal', 'Uruguay', 'Cuba', 'Zambia',
       'Kyrgyzstan', 'Austria', 'Canada', 'Palestine', 'Cabo Verde',
       'Thailand', 'Central Asia', 'New Zealand', 'Western Asia',
       'Czechoslovakia', 'Polynesia', 'Sudan (former)', 'Cameroon',
       'Net Food Importing Developing Countries', 'Rwanda', 'Bulgaria',
       'Malta', 'Syrian Arab Republic', 'Tuvalu',
       'United Republic of Tanzania', 'Northern Africa', 'Romania',
       'Southern Africa', 'European Union (27)', 'Western Africa',
       'Montenegro', 'El Salvador', 'Libya', 'USSR', 'Hungary', 'Guinea',
       'Estonia', 'Tonga', 'Dominica', 'Sweden', 'Mauritius', 'Mali',
       'North Macedonia', 'Nepal', 'Jamaica', 'Czechia', 'Niue',
       'Bahrain', 'Namibia', 'Zimbabwe', 'Tajikistan', 'Solomon Islands',
       'Kiribati', 'Georgia', 'Eritrea', 'Singapore', 'French Polynesia',
       'Ghana', 'Republic of Korea', 'France', 'South Africa',
       'Bosnia and Herzegovina', 'Southern Asia', 'Germany', 'Argentina',
       'Guyana', 'Trinidad and Tobago', 'Botswana', 'Latvia', 'Fiji',
       'Belarus', 'Pakistan', 'Grenada', 'Melanesia',
       'Republic of Moldova', 'Viet Nam', 'Samoa', 'Guinea-Bissau',
       'Honduras', 'Gabon', 'Sudan', 'Tokelau', 'Malaysia', 'Mongolia',
       'Sao Tome and Principe', 'Ethiopia PDR', 'Belize', 'Bahamas',
       'Croatia', 'Morocco', 'Indonesia', 'Malawi',
       'Central African Republic', 'New Caledonia', 'Brunei Darussalam',
       'Cyprus', 'Philippines', 'Turkmenistan', 'Denmark',
       'Papua New Guinea', 'Serbia and Montenegro', 'Somalia',
       'Burkina Faso', 'Lithuania', 'Iceland', 'Maldives', 'Azerbaijan',
       'Réunion', 'Ethiopia'], dtype=object)