# **EDA 37 to 54**

I have downloaded all data from https://www.fao.org/faostat/en/#home --> "Bulk Download"
I will inspect tables related to "emissions"

In [1]:
import pandas as pd
import re
import glob


# for EDA
from ydata_profiling import ProfileReport

In [5]:
def read_CSV (numero):

    pattern = f"data/sample_data/{numero}-*All_Data_(Normalized).csv"
    matching_files = glob.glob(pattern)
    
    if not matching_files:
        print("No existe el archivo")
        return None, None
    
    # Selecciona el primer archivo que coincida con el patr√≥n
    full_path = matching_files[0]
    
    try:
        df = pd.read_csv(full_path)
    except Exception as e:
        print(f"Error al leer el archivo: {e}")
        return None, None
    

    return df

## 37-sample_Food_Security_Data_E_All_Data_(Normalized).csv

In [9]:
df_37 = read_CSV(37)
df_37.sample(5)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
5797,117,'410,Republic of Korea,21056,Minimum dietary energy requirement (kcal/cap/...,6128,Value,2006,2006,kcal/cap/d,1881,E,NaN
731,5304,'035,South-eastern Asia,210410,Number of children under 5 years of age who ar...,6132,Value,2005,2005,million No,2.3,X,NaN
14052,255,'056,Belgium,210250,Number of children under 5 years of age who ar...,6132,Value,2022,2022,million No,<0.1,X,NaN
15866,5807,'543,Oceania excluding Australia and New Zealand,210250,Number of children under 5 years of age who ar...,6132,Value,2008,2008,million No,0.5,X,NaN
1502,177,'630,Puerto Rico,210401M,Prevalence of severe food insecurity in the ma...,61212,Confidence interval: Upper bound,20172019,2017-2019,%,NaN,O,NaN

## 38-sample_Forestry_E_All_Data_(Normalized).csv

In [7]:
df_38 = read_CSV(38)
df_38.sample(2)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
904,39,'148,Chad,1872,Sawnwood,5622,Import Value,2022,2022,1000 USD,0.0,E,NaN
14973,135,'474,Martinique,1873,Wood-based panels,5922,Export Value,2002,2002,1000 USD,0.0,E,NaN

## 40 Household Consumption and Expenditure Surveys Food and Diet

In [20]:
df_40 = read_CSV(53)
df_40.sample(10)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
10945,227,'798,Tuvalu,2304,SDG 2.a.1: Highest Government level,6197,SDG 2.a.1: Agriculture Orientation Index (AOI)...,2021,2021,NaN,0.26,E,consolidated General Government
10228,52,'031,Azerbaijan,23166,"Agriculture, Capital (Central Government)",6184,"Value US$, 2015 prices",2015,2015,million USD,0.00,A,Consolidated Central Government Expenditure Ex...
17045,5802,'432,Land Locked Developing Countries,23177,Total Expenditure (Highest Government level),6110,Value US$,2014,2014,million USD,190944.00,E,Combination of various levels of public expend...
15182,84,'300,Greece,23160,Total Expenditure (Central Government),6184,"Value US$, 2015 prices",2002,2002,million USD,77442.08,X,Consolidated Central Government Expenditure Ex...
17915,165,'586,Pakistan,23166,"Agriculture, Capital (Central Government)",6184,"Value US$, 2015 prices",2004,2004,million USD,42.51,A,Consolidated Central Government Expenditure Ex...
3671,11,'040,Austria,23160,Total Expenditure (Central Government),6110,Value US$,2005,2005,million USD,108589.15,A,Consolidated Central Government Expenditure Ex...
15992,96,'344,"China, Hong Kong SAR",23130,Total Expenditure (General Government),6110,Value US$,2020,2020,million USD,111199.20,A,Consolidated General Government Expenditure
9454,299,'275,Palestine,23161,"Agriculture, forestry, fishing (Central Govern...",6109,Value Local Currency,2017,2017,million LCU,35.83,A,Consolidated Central Government Expenditure Ex...
5492,166,'591,Panama,23164,Agriculture (Central Government),6184,"Value US$, 2015 prices",2012,2012,million USD,105.90,A,Consolidated Central Government Expenditure In...
9423,86,'308,Grenada,23166,"Agriculture, Capital (Central Government)",6109,Value Local Currency,2013,2013,million LCU,2.23,A,Consolidated Central Government Expenditure Ex...

In [23]:
df_40 = read_CSV(37)
df_40.sample(10)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
2141,58,'218,Ecuador,21033,Value of food imports in total merchandise exp...,6121,Value,20042006,2004-2006,%,6,E,NaN
8424,5801,'199,Least Developed Countries,210400R,Prevalence of severe food insecurity in the ru...,6121,Value,2021,2021,%,NaN,O,NaN
19707,11,'040,Austria,210071F,Number of severely food insecure female adults...,61321,Confidence interval: Lower bound,20152017,2015-2017,million No,<0.1,A,FAO data
12626,18,'064,Bhutan,210091F,Prevalence of moderate or severe food insecuri...,61211,Confidence interval: Lower bound,20202022,2020-2022,%,NaN,O,NaN
11624,5102,'017,Middle Africa,210070M,Number of severely food insecure male adults (...,6132,Value,2020,2020,million No,18.1,E,NaN
2337,117,'410,Republic of Korea,21058,Coefficient of variation of habitual caloric c...,6173,Value,2011,2011,No,0.22,E,NaN
12762,73,'268,Georgia,210401M,Prevalence of severe food insecurity in the ma...,61211,Confidence interval: Lower bound,20192021,2019-2021,%,7.1,A,FAO data
14217,5501,'053,Australia and New Zealand,210010,Number of people undernourished (million) (ann...,6132,Value,2009,2009,million No,NaN,Q,NaN
15967,196,'690,Seychelles,210410,Number of children under 5 years of age who ar...,6132,Value,2017,2017,million No,<0.1,X,NaN
10158,1,'051,Armenia,210071M,Number of severely food insecure male adults (...,61322,Confidence interval: Upper bound,20202022,2020-2022,million No,NaN,Q,NaN