# **EDA 37 to 54**

I have downloaded all data from https://www.fao.org/faostat/en/#home --> "Bulk Download"
I will inspect tables related to "emissions"

In [2]:
import os
import zipfile
import pandas as pd
import random

In [6]:
def read_CSV (numero):
    full_path = f"data/sample_data/{numero}-sample_Food_Security_Data_E_All_Data_(Normalized).csv"
    try:
        df = pd.read_csv(full_path)
    except:
        print("no existe el archivo")
    
    # # Creamos un nombre de variable dinámico
    # nombre_variable = f"df_{numero}"
    
    # # Asignamos el DataFrame a la variable dinámica
    # globals()[nombre_variable] = df
    
    return df

## 37-sample_Food_Security_Data_E_All_Data_(Normalized).csv

In [7]:
df_37 = read_CSV(37)
df_37.head()

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,157,'558,Nicaragua,210401M,Prevalence of severe food insecurity in the ma...,61211,Confidence interval: Lower bound,20172019,2017-2019,%,NaN,Q,NaN
1,5855,'127,Southern Asia (excluding India),210081M,Number of moderately or severely food insecure...,61321,Confidence interval: Lower bound,20172019,2017-2019,million No,47.5,E,NaN
2,80,'070,Bosnia and Herzegovina,210081M,Number of moderately or severely food insecure...,6132,Value,20152017,2015-2017,million No,0.2,A,FAO data
3,96,'344,"China, Hong Kong SAR",21013,Average protein supply (g/cap/day) (3-year ave...,6123,Value,20162018,2016-2018,g/cap/d,131,E,NaN
4,5502,'054,Melanesia,21025,Percentage of children under 5 years of age wh...,6121,Value,2011,2011,%,43,X,NaN