# Trade full matrix
**Full table was open in colab and cleaned cause it was 7GB**

### Table name:
Trade: Detailed trade matrix

Data was filtered for file to be smaller in: food_trading\00_read_full_trade_matrix_incolab.ipynb

### Metadata:

https://www.fao.org/faostat/en/#data/TM/metadata

# EDA

In [1]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport

In [11]:
trade_mx = pd.read_csv(r"..\data\FAOSTAT\clean_data\food_trading\trade_matrix_import_only.csv")

In [12]:
trade_mx.head()

,Unnamed: 0,Reporter Country Code,Partner Country Code,Item Code,Year,Unit,Value,Flag
0,0,3,3,828,2004,t,12.00,A
1,1,4,2,231,2005,t,3.00,A
2,2,3,3,56,2005,t,52.00,A
3,3,7,2,176,2022,t,25.06,A
4,4,4,2,711,1996,t,171.00,A

In [6]:
# There are RE-IMPORTS inside the same countries
trade_mx[trade_mx['Reporter Country Code'] == trade_mx['Partner Country Code']].head()

,Reporter Country Code,Partner Country Code,Item Code,Year,Unit,Value,Flag
0,3,3,828,2004,t,12.0,A
2,3,3,56,2005,t,52.0,A
7,3,3,831,1999,t,1.0,X
14,3,3,534,2004,t,1.0,A
15184,52,52,634,2008,t,0.0,A

In [ ]:
"""profile = ProfileReport(
    trade_mx.sample(1000000),
    title="FAOSTAT Trade Matrix Profile Report")

profile"""

'profile = ProfileReport(\n    trade_mx.sample(1000000),\n    title="FAOSTAT Trade Matrix Profile Report")\n\nprofile'

In [ ]:
""" profile.to_file("trade_matrix_sample_PROFILE.html") """

' profile.to_file("trade_matrix_sample_PROFILE.html") '

In [10]:
trade_mx.to_csv(r"..\data\FAOSTAT\clean_data\food_trading\trade_matrix_import_only.csv", index=False)