# Determine if a country is an island or not

To use it to consider ways of trading

In [19]:
import pandas as pd
import numpy as np

In [3]:
distance_df = pd.read_csv(r"..\data\FAOSTAT\clean_data\food_trading\country_distances_matrix.csv")

In [4]:
distance_df.head()

,country_from,continent_from,country_to,Continent_to,distance_in_km,same_continent,share_border
0,afghanistan,Asia,afghanistan,Asia,0.000000,1,1.0
1,afghanistan,Asia,albania,Europe,4335.926901,0,0.0
2,afghanistan,Asia,algeria,Africa,5855.362822,0,0.0
3,afghanistan,Asia,andorra,Europe,5796.993207,0,NaN
4,afghanistan,Asia,angola,Africa,7596.963990,0,0.0

In [17]:
distance_df[distance_df['country_from'] == 'cuba']

,country_from,continent_from,country_to,Continent_to,distance_in_km,same_continent,share_border
9900,cuba,North America,afghanistan,Asia,12936.590323,0,0.0
9901,cuba,North America,albania,Europe,9283.242656,0,0.0
9902,cuba,North America,algeria,Africa,8111.480794,0,0.0
9903,cuba,North America,andorra,Europe,7814.784305,0,NaN
9904,cuba,North America,angola,Africa,10966.148642,0,0.0
...,...,...,...,...,...,...,...
10120,cuba,North America,taiwan,Asia,14072.207563,0,0.0
10121,cuba,North America,ussr,Europe,9587.704078,0,NaN
10122,cuba,North America,venezuela,South America,2160.401705,0,0.0
10123,cuba,North America,wake island,Oceania,11171.095337,0,NaN
10124,cuba,North America,yugoslavia,Europe,9165.277193,0,NaN

In [21]:
border_nr_df = distance_df.groupby('country_from')['share_border'].sum().to_frame() #number of border countries (including itself)

In [ ]:
border_nr_df.sort_values(by='share_border', ascending=True)

If only shares border with itself = Island or missing info

In [25]:
pd.set_option('display.max_rows', None)

border_nr_df[border_nr_df['share_border'] == 1]

                                              share_border
country_from
andorra                                                1.0
antigua and barbuda                                    1.0
australia                                              1.0
bahamas                                                1.0
bahrain                                                1.0
barbados                                               1.0
bouvet island                                          1.0
cabo verde                                             1.0
canton and enderbury islands                           1.0
cape verde                                             1.0
comoros                                                1.0
cook islands                                           1.0
cuba                                                   1.0
cyprus                                                 1.0
czechoslovakia                                         1.0
dominica                                               1.0
faroe islands                                          1.0
fiji                                                   1.0
french polynesia                                       1.0
grenada                                                1.0
guadeloupe                                             1.0
heard and mcdonald islands                             1.0
iceland                                                1.0
jamaica                                                1.0
japan                                                  1.0
johnston atoll                                         1.0
kiribati                                               1.0
liechtenstein                                          1.0
madagascar                                             1.0
maldives                                               1.0
malta                                                  1.0
marshall islands                                       1.0
martinique                                             1.0
mauritius                                              1.0
micronesia (federated states of)                       1.0
midway atoll                                           1.0
monaco                                                 1.0
nauru                                                  1.0
new caledonia                                          1.0
new zealand                                            1.0
niue                                                   1.0
palau                                                  1.0
philippines                                            1.0
puerto rico                                            1.0
rÃ©union                                                1.0
saint barthÃ©lemy                                       1.0
saint kitts and nevis                                  1.0
saint lucia                                            1.0
saint martin                                           1.0
saint vincent and the grenadines                       1.0
samoa                                                  1.0
san marino                                             1.0
sao tome and principe                                  1.0
serbia and montenegro                                  1.0
seychelles                                             1.0
singapore                                              1.0
sint eustatius                                         1.0
sint maarten                                           1.0
solomon is.                                            1.0
south georgia and the south sandwich islands           1.0
sri lanka                                              1.0
svalbard and jan mayen                                 1.0
taiwan                                                 1.0
tokelau                                                1.0
tonga                                                  1.0
trinidad and tobago                                    1.0
tuvalu                                                 1.0
ussr                                                   1.0
vanuatu                                                1.0
vatican city                                           1.0
wake island                                            1.0
western sahara                                         1.0
yugoslavia                                             1.0

In [26]:
islands_ormissing_list = border_nr_df[border_nr_df['share_border'] == 1].index.to_list()

In [28]:
distance_df['island_or_missing'] = np.where(distance_df['country_from'].isin(islands_ormissing_list), 1, 0)

In [30]:
distance_df.to_csv(r"..\data\FAOSTAT\clean_data\food_trading\country_distances_matrix.csv")