# Defining transportation method: air, land, water.

## Conditions for aproximating the transportation method:

### Water:

- Importing country is an **island.**
- Importing country continent != partner country continent.

### Land:

- Importing country  **share border** with partner country .
- Same continent.
- Importing country  == partner country --> internal transport

### Air:

- Any country condition but **FOOD IS FRESH** (later)

In [54]:
import pandas as pd
import numpy as np

In [55]:
distance_df = pd.read_csv(r"..\data\FAOSTAT\clean_data\food_trading\country_matrix_v2.csv")

In [56]:
def get_transportation_method(row):
    if (row['any_island_or_missing'] == 1) or (row['same_continent'] == 0):
        return 'water'
    elif row['same_continent'] == 1 or (row['same_border'] == 1) or (row['distance_in_km'] == 0):
        return 'land'

In [57]:
distance_df['transportation_method'] = distance_df.apply(get_transportation_method, axis=1)

In [58]:
distance_df.head()

,country_from,continent_from,country_to,Continent_to,distance_in_km,same_continent,share_border,any_island_or_missing,transportation_method
0,afghanistan,asia,afghanistan,asia,0.000000,1,1.0,0,land
1,afghanistan,asia,albania,europe,4335.926901,0,0.0,0,water
2,afghanistan,asia,algeria,africa,5855.362822,0,0.0,0,water
3,afghanistan,asia,andorra,europe,5796.993207,0,NaN,1,water
4,afghanistan,asia,angola,africa,7596.963990,0,0.0,0,water

In [59]:
# Need to correct UK and ireland to be an island.
distance_df[distance_df['country_to'] == 'united kingdom']

,country_from,continent_from,country_to,Continent_to,distance_in_km,same_continent,share_border,any_island_or_missing,transportation_method
190,afghanistan,asia,united kingdom,europe,5707.952682,0,0.0,1,water
415,albania,europe,united kingdom,europe,1892.194281,1,0.0,1,water
640,algeria,africa,united kingdom,europe,1661.866330,0,0.0,1,water
865,andorra,europe,united kingdom,europe,1008.592159,1,NaN,1,water
1090,angola,africa,united kingdom,europe,6832.732677,0,0.0,1,water
...,...,...,...,...,...,...,...,...,...
49690,taiwan,asia,united kingdom,europe,9785.126246,0,0.0,1,water
49915,ussr,europe,united kingdom,europe,2500.558252,1,NaN,1,water
50140,venezuela,south america,united kingdom,europe,7498.554657,0,0.0,1,water
50365,wake island,oceania,united kingdom,europe,12037.346879,0,NaN,1,water
50590,yugoslavia,europe,united kingdom,europe,1690.928802,1,NaN,1,water

In [60]:
distance_df['transportation_method'].value_counts()

transportation_method
water    45123
land      5502
Name: count, dtype: int64

In [61]:
distance_df.to_csv(r"..\data\FAOSTAT\clean_data\food_trading\country_matrix_v3.csv", index=False)