In [13]:
import pandas as pd
import numpy as np

In [14]:
# I drop rows with 0 value of trading for this v2
trade_mx = pd.read_csv(r"..\data\FAOSTAT\clean_data\food_trading\trade_matrix__imports_clean_codesOnly_v2.csv")

In [15]:
distance_df = pd.read_csv(r"..\data\FAOSTAT\clean_data\food_trading\country_matrix_v4_final.csv")

In [16]:
distance_df.head()

,country_from,continent_from,country_to,Continent_to,distance_in_km,same_continent,share_border,any_island_or_missing,transportation_method,country_from_code,country_to_code,internal_distance
0,afghanistan,asia,afghanistan,asia,517.435646,1,1.0,0,land,2,2,517.435646
1,afghanistan,asia,albania,europe,4335.926901,0,0.0,0,water,2,3,NaN
2,afghanistan,asia,algeria,africa,5855.362822,0,0.0,0,water,2,4,NaN
3,afghanistan,asia,andorra,europe,5796.993207,0,NaN,1,water,2,-1,NaN
4,afghanistan,asia,angola,africa,7596.963990,0,0.0,0,water,2,7,NaN

In [17]:
trade_mx.head()

,Reporter Country Code,Partner Country Code,Item Code,Year,Value_tons,Flag
0,4,2,231,2005,3.00,A
1,3,3,56,2005,52.00,A
2,7,2,176,2022,25.06,A
3,4,2,711,1996,171.00,A
4,8,2,517,2012,0.00,A

# Convert variables type

To decrease memory usage

In [18]:
#Convert continent to category
cols = ['continent_from', 'Continent_to']
for col in cols:
    distance_df[col] = distance_df[col].astype('category')

# Clean trade matrix
## to make it smaller

Create keys to merge

In [19]:
distance_df['key'] = distance_df['country_from_code'].astype(str) + distance_df['country_to_code'].astype(str)
trade_mx['key'] = trade_mx['Reporter Country Code'].astype(str) + trade_mx['Partner Country Code'].astype(str)

In [20]:
distance_df.head()

,country_from,continent_from,country_to,Continent_to,distance_in_km,same_continent,share_border,any_island_or_missing,transportation_method,country_from_code,country_to_code,internal_distance,key
0,afghanistan,asia,afghanistan,asia,517.435646,1,1.0,0,land,2,2,517.435646,22
1,afghanistan,asia,albania,europe,4335.926901,0,0.0,0,water,2,3,NaN,23
2,afghanistan,asia,algeria,africa,5855.362822,0,0.0,0,water,2,4,NaN,24
3,afghanistan,asia,andorra,europe,5796.993207,0,NaN,1,water,2,-1,NaN,2-1
4,afghanistan,asia,angola,africa,7596.963990,0,0.0,0,water,2,7,NaN,27

In [21]:
full_trade_mx = trade_mx.merge(distance_df, on='key', how='left')

In [22]:
cols = ['country_from', 'country_to', 'country_from_code', 'country_to_code', 'internal_distance', 'key']
full_trade_mx.drop(columns=cols, inplace=True)

In [23]:
full_trade_mx.head()

,Reporter Country Code,Partner Country Code,Item Code,Year,Value_tons,Flag,continent_from,Continent_to,distance_in_km,same_continent,share_border,any_island_or_missing,transportation_method
0,4,2,231,2005,3.00,A,africa,asia,5855.362822,0.0,0.0,0.0,water
1,3,3,56,2005,52.00,A,europe,europe,108.611310,1.0,1.0,0.0,land
2,7,2,176,2022,25.06,A,africa,asia,7596.963990,0.0,0.0,0.0,water
3,4,2,711,1996,171.00,A,africa,asia,5855.362822,0.0,0.0,0.0,water
4,8,2,517,2012,0.00,A,north america,asia,12285.030715,0.0,NaN,1.0,water

In [ ]:
full_trade_mx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12967243 entries, 0 to 12967242
Data columns (total 13 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Reporter Country Code  int64
 1   Partner Country Code   int64
 2   Item Code              int64
 3   Year                   int64
 4   Flag                   object
 5   Value_kg               float64
 6   continent_from         category
 7   Continent_to           category
 8   distance_in_km         float64
 9   same_continent         object
 10  share_border           float64
 11  any_island_or_missing  object
 12  transportation_method  object
dtypes: category(2), float64(3), int64(4), object(4)
memory usage: 1.1+ GB

In [24]:
full_trade_mx.to_csv(r"..\data\FAOSTAT\clean_data\food_trading\trade_matrix__imports_clean_distance_v3.csv", index=False)