# **EDA 37 to 54**

I have downloaded all data from https://www.fao.org/faostat/en/#home --> "Bulk Download"
I will inspect tables related to "emissions"

In [1]:
import pandas as pd
import re
import glob


# for EDA
from ydata_profiling import ProfileReport

In [2]:
def read_CSV (numero):

    pattern = f"data/sample_data/{numero}-*All_Data_(Normalized).csv"
    matching_files = glob.glob(pattern)
    
    if not matching_files:
        print("No existe el archivo")
        return None, None
    
    # Selecciona el primer archivo que coincida con el patr√≥n
    full_path = matching_files[0]
    
    try:
        df = pd.read_csv(full_path)
    except Exception as e:
        print(f"Error al leer el archivo: {e}")
        return None, None
    

    return df

## 37-sample_Food_Security_Data_E_All_Data_(Normalized).csv

In [15]:
df_37 = read_CSV(11)
df_37.sample(5)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag
18999,181,'716,Zimbabwe,6809,Coal,7230,Emissions (N2O),1989,1989,kt,0.0540,A
10771,216,'764,Thailand,6812,Total Energy (excl.eletricity & heat),7273,Emissions (CO2),1999,1999,kt,6749.9623,A
11794,5102,'017,Middle Africa,6813,Total Energy,7225,Emissions (CH4),2007,2007,kt,0.0514,A
3011,184,'646,Rwanda,6813,Total Energy,72184,Energy use in agriculture,2002,2002,TJ,373.0903,E
13542,230,'804,Ukraine,6812,Total Energy (excl.eletricity & heat),7273,Emissions (CO2),2012,2012,kt,4635.9232,A

In [14]:
print(df_37["Item"].unique())
print(df_37["Element"].unique())

['Domestic wastewater' 'Solid food waste' 'Waste - agri-food systems'
 'Incineration' 'Industrial wastewater']
['Emissions (CH4)' 'Emissions (N2O)' 'Emissions (CO2)']

In [16]:
df_37.groupby("Item")["Element"].value_counts().to_frame()

                                                                 count
Item                                  Element
Coal                                  Energy use in agriculture    380
                                      Emissions (CO2)              249
                                      Emissions (N2O)              245
                                      Emissions (CH4)              234
Electricity                           Energy use in agriculture   1011
                                      Emissions (CO2)              974
                                      Emissions (CH4)              929
                                      Emissions (N2O)              843
Heat                                  Emissions (CO2)              206
                                      Energy use in agriculture    202
                                      Emissions (CH4)              196
                                      Emissions (N2O)              185
Natural gas                           Emissions (N2O)              392
                                      Emissions (CH4)              370
                                      Energy use in agriculture    367
                                      Emissions (CO2)              351
Petroleum products                    Emissions (CH4)             1035
                                      Emissions (N2O)             1028
                                      Energy use in agriculture   1023
                                      Emissions (CO2)              996
Total Energy                          Energy use in agriculture   1231
                                      Emissions (CH4)             1173
                                      Emissions (N2O)             1155
                                      Emissions (CO2)             1144
Total Energy (excl.eletricity & heat) Emissions (N2O)             1037
                                      Energy use in agriculture   1034
                                      Emissions (CH4)             1032
                                      Emissions (CO2)              978

## 38-sample_Forestry_E_All_Data_(Normalized).csv

In [7]:
df_38 = read_CSV(38)
df_38.sample(2)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
904,39,'148,Chad,1872,Sawnwood,5622,Import Value,2022,2022,1000 USD,0.0,E,NaN
14973,135,'474,Martinique,1873,Wood-based panels,5922,Export Value,2002,2002,1000 USD,0.0,E,NaN

## 40 Household Consumption and Expenditure Surveys Food and Diet

In [13]:
df_40 = read_CSV(46)
df_40.head(2)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
0,70,'258,French Polynesia,6655,Permanent meadows and pastures,5110,Area,2008,2008,1000 ha,20.0,I,NaN
1,125,'438,Liechtenstein,6620,Cropland,5110,Area,1969,1969,1000 ha,4.0,A,NaN

## 46 Land Use

In [15]:
df_40 = read_CSV(46)
df_40.sample(10)

,Area Code,Area Code (M49),Area,Item Code,Item,Element Code,Element,Year Code,Year,Unit,Value,Flag,Note
16412,212,'760,Syrian Arab Republic,6620,Cropland,7208,Share in Agricultural land,2018,2018,%,41.1600,E,NaN
335,130,'454,Malawi,6620,Cropland,7208,Share in Agricultural land,1982,1982,%,54.3400,E,NaN
11561,144,'508,Mozambique,6671,Agriculture area under organic agric.,7208,Share in Agricultural land,2014,2014,%,0.0400,E,NaN
11612,5000,'001,World,6610,Agricultural land,7209,Share in Land area,2014,2014,%,36.7300,E,NaN
10216,207,'740,Suriname,6690,Land area equipped for irrigation,7252,Share in Cropland,2018,2018,%,100.0000,E,NaN
6889,136,'478,Mauritania,6621,Arable land,7208,Share in Agricultural land,2002,2002,%,1.1300,E,NaN
13788,5404,'155,Western Europe,6621,Arable land,7208,Share in Agricultural land,1968,1968,%,54.3600,E,NaN
3422,106,'380,Italy,6646,Forest land,72151,Carbon stock in living biomass,1996,1996,million t,457.7698,I,NaN
11528,79,'276,Germany,6655,Permanent meadows and pastures,7208,Share in Agricultural land,1965,1965,%,35.2700,E,NaN
16456,5503,'057,Micronesia,6620,Cropland,7277,Area per capita,2021,2021,ha/cap,0.1008,E,NaN