In [2]:
import pandas as pd
# import numpy as np

In [4]:
df = pd.read_parquet(r"..\data\FAOSTAT\clean_data\all_tables_processed\all_tables_processed\full_country_dataset_v1.parquet")

In [5]:
df.head()

,Area Code,Area,Year,Total_Energy_Emissions_(CH4)_kt,Total_Energy_Emissions_(CO2)_kt,Total_Energy_Emissions_(N2O)_kt,Total_Energy_Energy_use_in_agriculture_TJ,Cropland_organic_soils_Area_ha,Cropland_organic_soils_Emissions_(CO2)_kt,Cropland_organic_soils_Emissions_(N2O)_kt,...,Pre-_and_Post-_Production_Emissions_(CO2eq)_(AR5)_kt_y,Rice_Cultivation_Emissions_(CO2eq)_(AR5)_kt,Savanna_fires_Emissions_(CO2eq)_(AR5)_kt,Synthetic_Fertilizers_Emissions_(CO2eq)_(AR5)_kt,Waste_Emissions_(CO2eq)_(AR5)_kt,Country_area_Area_1000_ha,Population_-_Est._&_Proj._Total_Population_-_Both_sexes_1000_No,Gross_Domestic_Product_Annual_growth_US$_per_capita_%,Gross_Domestic_Product_Value_US$_million_USD,Gross_Domestic_Product_Value_US$_per_capita_USD
0,1,Armenia,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2301.720664,647.179931
1,1,Armenia,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10.233892,2101.656351,580.948237
2,1,Armenia,1992,0.0300,734.6265,0.0179,7017.1128,0.0,0.0,0.0,...,835.9032,NaN,4.2975,82.7595,606.975,2974.0,3574.555,-39.711192,1251.976343,350.246770
3,1,Armenia,1993,0.0077,90.3345,0.0093,1600.6884,0.0,0.0,0.0,...,500.8966,NaN,4.2975,82.7595,572.050,2974.0,3457.349,-3.484703,1168.728174,338.041712
4,1,Armenia,1994,0.0081,95.1042,0.0080,1670.0715,0.0,0.0,0.0,...,568.0747,NaN,4.2975,38.6370,567.245,2974.0,3373.713,10.243232,1257.275245,372.668109