In [1]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

# from ydata_profiling import ProfileReport

In [2]:
df = pd.read_parquet(r"..\data\FAOSTAT\clean_data\all_tables_processed\full_country_dataset_v2_imputed.parquet")

In [3]:
pd.set_option('display.max_columns', None)
print(df.shape)

(12096, 78)

In [4]:
df.head(5)

,Area,Year,Area Code,Total_Energy_Emissions_(CO2)_kt,Total_Energy_Energy_use_in_agriculture_TJ,Cropland_organic_soils_Area_ha,Cropland_organic_soils_Emissions_(CO2)_kt,Cropland_organic_soils_Net_stock_change_(C)_kt,Drained_organic_soils_Area_ha,Drained_organic_soils_Emissions_(CO2)_kt,Drained_organic_soils_Net_stock_change_(C)_kt,Grassland_organic_soils_Area_ha,Grassland_organic_soils_Emissions_(CO2)_kt,Grassland_organic_soils_Net_stock_change_(C)_kt,Forestland_Area_1000_ha,Forestland_Net_emissions/removals_(CO2)_(Forest_land)_kt,Net_Forest_conversion_Area_1000_ha,Net_Forest_conversion_Net_emissions/removals_(CO2)_(Forest_land)_kt,Agrifood_Systems_Waste_Disposal_Emissions_(CO2eq)_(AR5)_kt_x,Energy_Use_(Pre-_and_Post-Production)_Emissions_(CO2eq)_(AR5)_kt,Energy_Use_(Pre-_and_Post-Production)_Energy_Use_(Total)_TJ,Fertilizers_Manufacturing_Emissions_(CO2eq)_(AR5)_kt_x,Food_Household_Consumption_Emissions_(CO2eq)_(AR5)_kt_x,Food_Household_Consumption_Energy_Use_(Total)_TJ,Food_Packaging_Emissions_(CO2eq)_(AR5)_kt_x,Food_Packaging_Energy_Use_(Total)_TJ,Food_Processing_Emissions_(CO2eq)_(AR5)_kt_x,Food_Processing_Energy_Use_(Total)_TJ,Food_Retail_Emissions_(CO2eq)_(AR5)_kt_x,Food_Retail_Energy_Use_(Total)_TJ,Food_Transport_Emissions_(CO2eq)_(AR5)_kt_x,Food_Transport_Energy_Use_(Total)_TJ,Pesticides_Manufacturing_Emissions_(CO2eq)_(AR5)_kt_x,Pre-_and_Post-_Production_Emissions_(CO2eq)_(AR5)_kt_x,Pre-_and_Post-_Production_Energy_Use_(Total)_TJ,Solid_Food_Waste_Emissions_(CO2eq)_(AR5)_kt,Agricultural_Soils_Emissions_(CO2eq)_(AR5)_kt,Agrifood_Systems_Waste_Disposal_Emissions_(CO2eq)_(AR5)_kt_y,Agrifood_systems_Emissions_(CO2eq)_(AR5)_kt,Burning_-_Crop_residues_Emissions_(CO2eq)_(AR5)_kt,Crop_Residues_Emissions_(CO2eq)_(AR5)_kt,Drained_organic_soils_Emissions_(CO2eq)_(AR5)_kt,Emissions_from_crops_Emissions_(CO2eq)_(AR5)_kt,Emissions_from_livestock_Emissions_(CO2eq)_(AR5)_kt,Emissions_on_agricultural_land_Emissions_(CO2eq)_(AR5)_kt,Enteric_Fermentation_Emissions_(CO2eq)_(AR5)_kt,Farm_gate_Emissions_(CO2eq)_(AR5)_kt,Fertilizers_Manufacturing_Emissions_(CO2eq)_(AR5)_kt_y,Fires_in_humid_tropical_forests_Emissions_(CO2eq)_(AR5)_kt,Fires_in_organic_soils_Emissions_(CO2eq)_(AR5)_kt,Food_Household_Consumption_Emissions_(CO2eq)_(AR5)_kt_y,Food_Packaging_Emissions_(CO2eq)_(AR5)_kt_y,Food_Processing_Emissions_(CO2eq)_(AR5)_kt_y,Food_Retail_Emissions_(CO2eq)_(AR5)_kt_y,Food_Transport_Emissions_(CO2eq)_(AR5)_kt_y,Forest_fires_Emissions_(CO2eq)_(AR5)_kt,Forestland_Emissions_(CO2eq)_(AR5)_kt,Land_Use_change_Emissions_(CO2eq)_(AR5)_kt,Manure_Management_Emissions_(CO2eq)_(AR5)_kt,Manure_applied_to_Soils_Emissions_(CO2eq)_(AR5)_kt,Manure_left_on_Pasture_Emissions_(CO2eq)_(AR5)_kt,Net_Forest_conversion_Emissions_(CO2eq)_(AR5)_kt,Pesticides_Manufacturing_Emissions_(CO2eq)_(AR5)_kt_y,Pre-_and_Post-_Production_Emissions_(CO2eq)_(AR5)_kt_y,Rice_Cultivation_Emissions_(CO2eq)_(AR5)_kt,Savanna_fires_Emissions_(CO2eq)_(AR5)_kt,Synthetic_Fertilizers_Emissions_(CO2eq)_(AR5)_kt,Waste_Emissions_(CO2eq)_(AR5)_kt,Country_area_Area_1000_ha,Population_-_Est._&_Proj._Total_Population_-_Both_sexes_1000_No,Gross_Domestic_Product_Annual_growth_US$_per_capita_%,Gross_Domestic_Product_Value_US$_million_USD,Gross_Domestic_Product_Value_US$_per_capita_USD,Total_Energy_Emissions_(CH4_CO2eq)_kt,Total_Energy_Emissions_(N2O_CO2eq)_kt,Cropland_organic_soils_Emissions_(N2O_CO2eq)_kt,Drained_organic_soils_Emissions_(N2O_CO2eq)_kt,Grassland_organic_soils_Emissions_(N2O_CO2eq)_kt
0,Armenia,1980,1.0,734.6265,7017.1128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,334.312,76.3667,0.309,54.2254,250.194146,585.400799,7215.848159,NaN,354.528585,5664.804371,20.131263,158.305788,73.326261,561.6,101.2014,831.138,36.293303,6.072,0.228261,835.903219,7215.848159,79.589584,544.8665,250.1941,2997.3446,2.5811,25.8905,0.0,28.4716,1251.471,2161.4414,751.24,2107.216,NaN,0.0,0.0,354.5286,20.1313,73.3263,101.2014,36.2933,0.8903,76.3667,54.2254,64.0145,33.337,402.8795,54.2254,0.2283,835.9032,NaN,4.2975,82.7595,606.975,2974.0,3574.555,-10.233892,2301.720664,647.179931,0.84,4.7435,0.0,0.0,0.0
1,Armenia,1981,1.0,734.6265,7017.1128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,334.312,76.3667,0.309,54.2254,250.194146,585.400799,7215.848159,NaN,354.528585,5664.804371,20.131263,158.305788,73.326261,561.6,101.2014,831.138,36.293303,6.072,0.228261,835.903219,7215.848159,79.589584,544.8665,250.1941,2997.3446,2.5811,25.8905,0.0,28.4716,1251.471,2161.4414,751.24,2107.216,NaN,0.0,0.0,354.5286,20.1313,73.3263,101.2014,36.2933,0.8903,76.3667,54.2254,64.0145,33.337,402.8795,54.2254,0.2283,835.9032,NaN,4.2975,82.7595,606.975,2974.0,3574.555,-10.233892,2301.720664,647.179931,0.84,4.7435,0.0,0.0,0.0
2,Armenia,1982,1.0,734.6265,7017.1128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,334.312,76.3667,0.309,54.2254,250.194146,585.400799,7215.848159,NaN,354.528585,5664.804371,20.131263,158.305788,73.326261,561.6,101.2014,831.138,36.293303,6.072,0.228261,835.903219,7215.848159,79.589584,544.8665,250.1941,2997.3446,2.5811,25.8905,0.0,28.4716,1251.471,2161.4414,751.24,2107.216,NaN,0.0,0.0,354.5286,20.1313,73.3263,101.2014,36.2933,0.8903,76.3667,54.2254,64.0145,33.337,402.8795,54.2254,0.2283,835.9032,NaN,4.2975,82.7595,606.975,2974.0,3574.555,-10.233892,2301.720664,647.179931,0.84,4.7435,0.0,0.0,0.0
3,Armenia,1983,1.0,734.6265,7017.1128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,334.312,76.3667,0.309,54.2254,250.194146,585.400799,7215.848159,NaN,354.528585,5664.804371,20.131263,158.305788,73.326261,561.6,101.2014,831.138,36.293303,6.072,0.228261,835.903219,7215.848159,79.589584,544.8665,250.1941,2997.3446,2.5811,25.8905,0.0,28.4716,1251.471,2161.4414,751.24,2107.216,NaN,0.0,0.0,354.5286,20.1313,73.3263,101.2014,36.2933,0.8903,76.3667,54.2254,64.0145,33.337,402.8795,54.2254,0.2283,835.9032,NaN,4.2975,82.7595,606.975,2974.0,3574.555,-10.233892,2301.720664,647.179931,0.84,4.7435,0.0,0.0,0.0
4,Armenia,1984,1.0,734.6265,7017.1128,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,334.312,76.3667,0.309,54.2254,250.194146,585.400799,7215.848159,NaN,354.528585,5664.804371,20.131263,158.305788,73.326261,561.6,101.2014,831.138,36.293303,6.072,0.228261,835.903219,7215.848159,79.589584,544.8665,250.1941,2997.3446,2.5811,25.8905,0.0,28.4716,1251.471,2161.4414,751.24,2107.216,NaN,0.0,0.0,354.5286,20.1313,73.3263,101.2014,36.2933,0.8903,76.3667,54.2254,64.0145,33.337,402.8795,54.2254,0.2283,835.9032,NaN,4.2975,82.7595,606.975,2974.0,3574.555,-10.233892,2301.720664,647.179931,0.84,4.7435,0.0,0.0,0.0

In [5]:
#profile = ProfileReport(df, title="Full Country V2 Report", minimal= True, explorative=True)
#profile.to_notebook_iframe()

# Pre Processing

## Eliminar columnas Iguales/duplicadas

### Agrifood_Systems_Waste_Disposal_Emissions_(CO2eq)_(AR5)_kt_x y

In [6]:
def diferencia_columnas(df, cols):
    return df[cols[0]] - df[cols[1]]

In [7]:
def eliminarYrenombrar(df, cols):
    
    # Cambia el nombre de la primera columna, eliminando los últimos 2 caracteres
    first_column = cols[0]
    new_name = first_column[:-2]
    df = df.rename(columns={first_column: new_name})
    
    # Elimina la segunda columna
    second_column = cols[1]
    df = df.drop(columns=[second_column])
    
    return df

In [8]:
cols = ["Agrifood_Systems_Waste_Disposal_Emissions_(CO2eq)_(AR5)_kt_x", "Agrifood_Systems_Waste_Disposal_Emissions_(CO2eq)_(AR5)_kt_y"]
diferencia_columnas(df, cols)

0        0.000046
1        0.000046
2        0.000046
3        0.000046
4        0.000046
           ...
12091   -0.000031
12092   -0.000034
12093   -0.000028
12094    0.000022
12095   -0.000023
Length: 12096, dtype: float64

In [9]:
# son iguales, elimino una y renombro la otra
df = eliminarYrenombrar(df, cols)

### Fertilizers_Manufacturing_Emissions_(CO2eq)_(AR5)_kt_x y

In [10]:
cols = ["Fertilizers_Manufacturing_Emissions_(CO2eq)_(AR5)_kt_x", "Fertilizers_Manufacturing_Emissions_(CO2eq)_(AR5)_kt_y"]
diferencia_columnas(df, cols)

0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
           ...
12091   -0.000028
12092   -0.000015
12093    0.000044
12094   -0.000016
12095   -0.000003
Length: 12096, dtype: float64

In [11]:
# son iguales, elimino una y renombro la otra
df = eliminarYrenombrar(df, cols)

### Food_Household_Consumption_Emissions_(CO2eq)_(AR5)_kt_x y

In [12]:
cols = ["Food_Household_Consumption_Emissions_(CO2eq)_(AR5)_kt_x", "Food_Household_Consumption_Emissions_(CO2eq)_(AR5)_kt_y"]
diferencia_columnas(df, cols)

0       -0.000015
1       -0.000015
2       -0.000015
3       -0.000015
4       -0.000015
           ...
12091   -0.000035
12092   -0.000023
12093   -0.000007
12094   -0.000042
12095   -0.000039
Length: 12096, dtype: float64

In [13]:
# son iguales, elimino una y renombro la otra
df = eliminarYrenombrar(df, cols)

### Food_Packaging_Emissions_(CO2eq)_(AR5)_kt_x y

In [14]:
cols = ["Food_Packaging_Emissions_(CO2eq)_(AR5)_kt_x", "Food_Packaging_Emissions_(CO2eq)_(AR5)_kt_y"]
diferencia_columnas(df, cols)

0       -0.000037
1       -0.000037
2       -0.000037
3       -0.000037
4       -0.000037
           ...
12091    0.000024
12092   -0.000006
12093    0.000037
12094   -0.000040
12095   -0.000012
Length: 12096, dtype: float64

In [15]:
# son iguales, elimino una y renombro la otra
df = eliminarYrenombrar(df, cols)

### Food_Processing_Emissions_(CO2eq)_(AR5)_kt_x y

In [16]:
cols = ["Food_Processing_Emissions_(CO2eq)_(AR5)_kt_x", "Food_Processing_Emissions_(CO2eq)_(AR5)_kt_y"]
diferencia_columnas(df, cols)

0       -0.000039
1       -0.000039
2       -0.000039
3       -0.000039
4       -0.000039
           ...
12091    0.000031
12092    0.000031
12093    0.000039
12094    0.000000
12095   -0.000018
Length: 12096, dtype: float64

In [17]:
# son iguales, elimino una y renombro la otra
df = eliminarYrenombrar(df, cols)

### Food_Retail_Emissions_(CO2eq)_(AR5)_kt_x y

In [18]:
cols = ["Food_Retail_Emissions_(CO2eq)_(AR5)_kt_x", "Food_Retail_Emissions_(CO2eq)_(AR5)_kt_y"]
diferencia_columnas(df, cols)

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
12091    0.000025
12092   -0.000039
12093   -0.000036
12094    0.000006
12095    0.000016
Length: 12096, dtype: float64

In [19]:
df = eliminarYrenombrar(df, cols)

### Food_Transport_Emissions_(CO2eq)_(AR5)_kt_x y

In [20]:
cols = ["Food_Transport_Emissions_(CO2eq)_(AR5)_kt_x", "Food_Transport_Emissions_(CO2eq)_(AR5)_kt_y"]
diferencia_columnas(df, cols)

0        0.000003
1        0.000003
2        0.000003
3        0.000003
4        0.000003
           ...
12091   -0.000014
12092   -0.000036
12093   -0.000027
12094   -0.000004
12095   -0.000004
Length: 12096, dtype: float64

In [21]:
df = eliminarYrenombrar(df, cols)

### Pesticides_Manufacturing_Emissions_(CO2eq)_(AR5)_kt_x y

In [22]:
cols = ["Pesticides_Manufacturing_Emissions_(CO2eq)_(AR5)_kt_x", "Pesticides_Manufacturing_Emissions_(CO2eq)_(AR5)_kt_y"]
diferencia_columnas(df, cols)

0       -0.000039
1       -0.000039
2       -0.000039
3       -0.000039
4       -0.000039
           ...
12091    0.000023
12092    0.000002
12093   -0.000004
12094   -0.000007
12095   -0.000035
Length: 12096, dtype: float64

In [23]:
df = eliminarYrenombrar(df, cols)

### Pre-_and_Post-_Production_Emissions_(CO2eq)_(AR5)_kt_x y

In [24]:
cols = ['Pre-_and_Post-_Production_Emissions_(CO2eq)_(AR5)_kt_x','Pre-_and_Post-_Production_Emissions_(CO2eq)_(AR5)_kt_y',]
diferencia_columnas(df, cols)

0        0.000019
1        0.000019
2        0.000019
3        0.000019
4        0.000019
           ...
12091   -0.000005
12092   -0.000019
12093    0.000018
12094    0.000019
12095   -0.000018
Length: 12096, dtype: float64

In [25]:
df = eliminarYrenombrar(df, cols)

In [26]:
df.shape

(12096, 69)

## Totales, agrupar y sumar columnas

### 1.Total_Energy_Emissions_CO2_kt

In [27]:
def sum_and_print_columns(df, cols, new_col_name):
    df[new_col_name] = df[cols].sum(axis=1)
    print(f"Nueva columna '{new_col_name}':")
    # print(df[[new_col_name]])
    return df

In [28]:
cols = ['Total_Energy_Emissions_(CO2)_kt',
        'Total_Energy_Emissions_(CH4_CO2eq)_kt',
        'Total_Energy_Emissions_(N2O_CO2eq)_kt']

new_col_name1 = 'Total_Energy_Emissions_CO2_kt'

df = sum_and_print_columns(df, cols, new_col_name1)

# dropeo las columnas que lo componen, ya que corresponden a otras emisiones, convertidas a CO2eq
df = df.drop(cols, axis=1)

# Resultado
df[["Year", 'Total_Energy_Emissions_CO2_kt']]

Nueva columna 'Total_Energy_Emissions_CO2_kt':

       Year  Total_Energy_Emissions_CO2_kt
0      1980                       740.2100
1      1981                       740.2100
2      1982                       740.2100
3      1983                       740.2100
4      1984                       740.2100
...     ...                            ...
12091  2017                    258071.0304
12092  2018                    256804.3351
12093  2019                    257077.5072
12094  2020                    248882.1550
12095  2021                    250185.2032

[12096 rows x 2 columns]

### 2.Total_Organic_Soils_Emissions_CO2eq_kt

In [29]:
cols = ['Cropland_organic_soils_Emissions_(CO2)_kt',
    'Cropland_organic_soils_Emissions_(N2O_CO2eq)_kt',
    'Drained_organic_soils_Emissions_(CO2)_kt',
    'Drained_organic_soils_Emissions_(N2O_CO2eq)_kt',
    'Drained_organic_soils_Emissions_(CO2eq)_(AR5)_kt',
    'Grassland_organic_soils_Emissions_(CO2)_kt',
    'Grassland_organic_soils_Emissions_(N2O_CO2eq)_kt']

new_col_name2 = 'Total_Organic_Soils_Emissions_CO2eq_kt'

df = sum_and_print_columns(df, cols, new_col_name2)

# dropeo las columnas que lo componen, ya que corresponden a otras emisiones, convertidas a CO2eq
df = df.drop(cols, axis=1)

# Resultado
df[["Year", 'Total_Organic_Soils_Emissions_CO2eq_kt']]

Nueva columna 'Total_Organic_Soils_Emissions_CO2eq_kt':

       Year  Total_Organic_Soils_Emissions_CO2eq_kt
0      1980                                  0.0000
1      1981                                  0.0000
2      1982                                  0.0000
3      1983                                  0.0000
4      1984                                  0.0000
...     ...                                     ...
12091  2017                             899387.2122
12092  2018                             904203.0536
12093  2019                             905783.1705
12094  2020                             906609.3793
12095  2021                             906609.3793

[12096 rows x 2 columns]

### 3.Total_Area_For_Crops_Production_ha

In [32]:
"""
Le pregunté a Claude, sobre cual de esos suelos se usa para plantar arroz, y me dijo basicamente que ninguno... nos estará faltando mergear algún suelo? 

        Basándome en la información proporcionada y mi conocimiento general sobre agricultura, ninguno de esos tipos de suelo es típicamente el ideal para el cultivo de arroz. Vamos a analizarlos:

        1. "Cropland_organic_soils_Area_ha" (Área de suelos orgánicos de tierras de cultivo):
        Los suelos orgánicos son ricos en materia orgánica, pero no son los más comunes para el cultivo de arroz.

        2. 'Drained_organic_soils_Area_ha' (Área de suelos orgánicos drenados):
        Estos son suelos orgánicos que han sido drenados, lo cual es lo opuesto a lo que el arroz necesita.

        3. 'Grassland_organic_soils_Area_ha' (Área de suelos orgánicos de pastizales):
        Estos son suelos orgánicos típicamente usados para pastos, no para cultivos de arroz.

        El arroz, especialmente el arroz de inundación (que es el más común), se cultiva típicamente en:

        - Suelos de textura fina (arcillosos o limosos)
        - Áreas que pueden ser inundadas o que retienen bien el agua
        - Suelos con un pH ligeramente ácido a neutro (5.5-7.0)
        - Áreas planas o terrazas

        Los suelos orgánicos mencionados en tu lista no son la elección típica para el cultivo de arroz. El arroz necesita condiciones de inundación o al menos suelos muy húmedos, y aunque 
        los suelos orgánicos pueden retener bien la humedad, no son la opción más común para este cultivo.

        Si estás buscando datos específicos sobre áreas de cultivo de arroz, probablemente necesitarías una categoría diferente, algo como "Paddy fields" (campos de arroz) o 
        "Wetland rice cultivation areas" (áreas de cultivo de arroz en humedales).
"""


cols = ["Cropland_organic_soils_Area_ha",
        'Drained_organic_soils_Area_ha',
        'Grassland_organic_soils_Area_ha']

new_col_name3 = "Total_Area_For_Crops_Production_ha"

df = sum_and_print_columns(df, cols, new_col_name3)

# # las No DROPEO, y las mantengo por si fuese interesante para el estudio de suelos para arroz. 
# # dropeo las columnas que lo componen, en pos de simplificar el DF. 
# df = df.drop(cols, axis=1)

# Resultado
df[["Year", "Total_Area_For_Crops_Production_ha"]]

Nueva columna 'Total_Area_For_Crops_Production_ha':

       Year  Total_Area_For_Crops_Production_ha
0      1980                        0.000000e+00
1      1981                        0.000000e+00
2      1982                        0.000000e+00
3      1983                        0.000000e+00
4      1984                        0.000000e+00
...     ...                                 ...
12091  2017                        1.954664e+07
12092  2018                        1.965024e+07
12093  2019                        1.968351e+07
12094  2020                        1.970058e+07
12095  2021                        1.970058e+07

[12096 rows x 2 columns]

### 4. Total_Net_stock_change_kt" <<- Ver nota de Total_Net_stock_change_kt

In [35]:
cols = ['Drained_organic_soils_Net_stock_change_(C)_kt',
    'Cropland_organic_soils_Net_stock_change_(C)_kt',
    'Grassland_organic_soils_Net_stock_change_(C)_kt',]

new_col_name4 = 'Total_Net_stock_change_kt'

df = sum_and_print_columns(df, cols, new_col_name4)

# # No dropeo por si resulta interesante analizar el detalle
# # dropeo las columnas que lo componen, ya que corresponden a otras emisiones, convertidas a CO2eq
# df = df.drop(cols, axis=1)

# Resultado
df[["Year", 'Total_Net_stock_change_kt']]

Nueva columna 'Total_Net_stock_change_kt':

       Year  Total_Net_stock_change_kt
0      1980                     0.0000
1      1981                     0.0000
2      1982                     0.0000
3      1983                     0.0000
4      1984                     0.0000
...     ...                        ...
12091  2017                139525.9454
12092  2018                140263.3192
12093  2019                140514.9876
12094  2020                140640.2252
12095  2021                140640.2252

[12096 rows x 2 columns]

In [ ]:
# df.columns

In [ ]:
df[[    'Food_Household_Consumption_Emissions_(CO2eq)_(AR5)_kt',
    'Food_Packaging_Emissions_(CO2eq)_(AR5)_kt',
    'Food_Processing_Emissions_(CO2eq)_(AR5)_kt',
    'Food_Retail_Emissions_(CO2eq)_(AR5)_kt',
    'Food_Transport_Emissions_(CO2eq)_(AR5)_kt',
    'Pre-_and_Post-_Production_Emissions_(CO2eq)_(AR5)_kt',
    'Energy_Use_(Pre-_and_Post-Production)_Emissions_(CO2eq)_(AR5)_kt',]]

,Food_Household_Consumption_Emissions_(CO2eq)_(AR5)_kt,Food_Packaging_Emissions_(CO2eq)_(AR5)_kt,Food_Processing_Emissions_(CO2eq)_(AR5)_kt,Food_Retail_Emissions_(CO2eq)_(AR5)_kt,Food_Transport_Emissions_(CO2eq)_(AR5)_kt,Pre-_and_Post-_Production_Emissions_(CO2eq)_(AR5)_kt,Energy_Use_(Pre-_and_Post-Production)_Emissions_(CO2eq)_(AR5)_kt
0,354.528585,20.131263,73.326261,101.201400,36.293303,8.359032e+02,5.854008e+02
1,354.528585,20.131263,73.326261,101.201400,36.293303,8.359032e+02,5.854008e+02
2,354.528585,20.131263,73.326261,101.201400,36.293303,8.359032e+02,5.854008e+02
3,354.528585,20.131263,73.326261,101.201400,36.293303,8.359032e+02,5.854008e+02
4,354.528585,20.131263,73.326261,101.201400,36.293303,8.359032e+02,5.854008e+02
...,...,...,...,...,...,...,...
12091,254015.993565,71710.220024,315255.071231,272844.508825,279427.616486,1.580558e+06,1.160323e+06
12092,251720.460977,69745.190094,313311.202231,268695.461261,282325.334264,1.570115e+06,1.151354e+06
12093,240439.927693,66823.239937,292584.239839,269571.095264,282191.902873,1.535246e+06,1.116218e+06
12094,241374.350858,64678.995760,296320.642100,249450.247706,249394.345396,1.487048e+06,1.069394e+06
12095,250583.688761,70145.412688,324671.006382,263118.133716,265629.240496,1.572575e+06,1.145663e+06